body 
{font-family: Roboto, sans-serif;
color: #FFFFFF;}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* HEADER */
.header-page {}
.header-navigation {}
.header-logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-lists {}
.header-item {}
.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5; 
}
.header-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-email-item {}
.header-email-link {}
.header-tel-item {}
.header-tel-link {}

.button-all, .button-web-site, .button-app, .button-design, .button-marketing
 {  font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
}
.button-all:hover {color: #FFFFFF;background: #404BBF;}
.button-web-site:hover {color: #FFFFFF; background: #404BBF;}
.button-app:hover {color: #FFFFFF; background: #404BBF;}
.button-design:hover {color: #FFFFFF; background: #404BBF;}
.button-marketing:hover{color: #FFFFFF; background: #404BBF;}

.button-all:focus {color: #FFFFFF; background: #404BBF;} 
.button-web-site:focus {color: #FFFFFF; background: #404BBF;}
.button-app:focus {color: #FFFFFF; background: #404BBF;}
.button-design:focus {color: #FFFFFF; background: #404BBF;}
.button-marketing:focus {color: #FFFFFF; background: #404BBF;}

/* PORTFOLIO*/

.button {
}
.button-item {
}
.button-all {
}
.button-web-site {
}
.button-app {
}
.button-design {
}
.button-marketing {
}
.portfolio {
}
.portfolio-bank {
}
.link {
}
.portfolio-title-bank {
}
.portfolio-text-bank {
}
.portfolio-cashless {
}
.portfolio-title-cashless {
}
.portfolio-text-cashless {
}
.portfolio-button-text-cashless {
}
.portfolio-meditation {
}
.portfolio-title-meditation {
}
.portfolio-text-meditation {
}
.portfolio-taxi {
}
.portfolio-title-taxi {
}
.portfolio-text-taxi {
}
.portfolio-screen {
}
.portfolio-title-screen {
}
.portfolio-text-screen {
}
.portfolio-online {
}
.portfolio-title-online {
}
.portfolio-text-online {
}
.portfolio-instagram {
}
.portfolio-title-instagram {
}
.portfolio-text-instagram {
}
.portfolio-food {
}
.portfolio-title-food {
}
.portfolio-text-food {
}
.portfolio-coffee {
}
.portfolio-title-coffee {
}
.portfolio-text-coffee {
}