body 
{font-family: Roboto, sans-serif;}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* HEADER */
/* 1-а сторінка Основна частина*/
/* 1-а сторінка, Секція 1 з кнопкою- */

.page-button-order {
    background-color: #2E2F42;
}
.page-button-order-service  {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19em;
    display: flex;
    align-items: center; 
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    position: absolute;
}
.page-button-order-service:hover {
    color: #4D5AE5;
    background: #F4F4FD;
}
.page-button-order-service:focus {
    color: #4D5AE5;
    background: #F4F4FD;
}
.page-button-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* 1-а сторінка, Секція 2 Принципи компанії */
.title-strategy,
.title-punctuality,
.title-diligence,
.title-technologies {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.text-title-strategy,
.text-title-punctuality,
.text-title-diligence,
.text-title-technologies {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
}
.title-we-doing,
.title-our-team {
    font-family: inherit;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11em;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
/* 1-а сторінка, Секція 4 Команда компанії */
.name-mark,
.name-tom,
.name-camila,
.name-daniel {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.job-product-designer,
.job-frontend-developer,
.job-marketing,
.job-ui-designer {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
/* 2-а сторінка */
.header-page {}
.header-navigation {}
.header-logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-lists {}
.header-item {}
.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5; 
}
.header-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-email-item {}
.header-email-link {}
.header-tel-item {}
.header-tel-link {}

.button-all, .button-web-site, .button-app, .button-design, .button-marketing
 {  font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
}
.button-all:hover {color: #FFFFFF;background: #404BBF;}
.button-web-site:hover {color: #FFFFFF; background: #404BBF;}
.button-app:hover {color: #FFFFFF; background: #404BBF;}
.button-design:hover {color: #FFFFFF; background: #404BBF;}
.button-marketing:hover{color: #FFFFFF; background: #404BBF;}

.button-all:focus {color: #FFFFFF; background: #404BBF;} 
.button-web-site:focus {color: #FFFFFF; background: #404BBF;}
.button-app:focus {color: #FFFFFF; background: #404BBF;}
.button-design:focus {color: #FFFFFF; background: #404BBF;}
.button-marketing:focus {color: #FFFFFF; background: #404BBF;}

/* PORTFOLIO*/

.portfolio-title-bank, 
.portfolio-title-cashless,
.portfolio-title-meditation,
.portfolio-title-taxi,
.portfolio-title-screen,
.portfolio-title-online,
.portfolio-title-instagram,
.portfolio-title-food,
.portfolio-title-coffee 
{font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio-text-bank,
.portfolio-text-cashless 
.portfolio-text-meditation
.portfolio-text-taxi
.portfolio-text-screen
.portfolio-text-online
.portfolio-text-instagram 
.portfolio-text-food 
.portfolio-text-coffee 
{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ФУТЕР */
.footer-page {background-color:  #2E2F42;}
.footer-logo {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16em;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-logo-web {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16em;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
} 
.text-fotter {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5em;
   letter-spacing: 0.02em;
   color: #E7E9FC;
}