body 
{font-family: Roboto, sans-serif;
color: #FFFFFF;}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* HEADER */
.header-page {}
.header-navigation {}
.header-logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-lists {}
.header-item {}
.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5; 
}
.header-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-email-item {}
.header-email-link {}
.header-tel-item {}
.header-tel-link {}

.button-all, .button-web-site, .button-app, .button-design, .button-marketing
 {  font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
}
.button-all:hover {color: #FFFFFF;background: #404BBF;}
.button-web-site:hover {color: #FFFFFF; background: #404BBF;}
.button-app:hover {color: #FFFFFF; background: #404BBF;}
.button-design:hover {color: #FFFFFF; background: #404BBF;}
.button-marketing:hover{color: #FFFFFF; background: #404BBF;}

.button-all:focus {color: #FFFFFF; background: #404BBF;} 
.button-web-site:focus {color: #FFFFFF; background: #404BBF;}
.button-app:focus {color: #FFFFFF; background: #404BBF;}
.button-design:focus {color: #FFFFFF; background: #404BBF;}
.button-marketing:focus {color: #FFFFFF; background: #404BBF;}

/* PORTFOLIO*/

.portfolio-title-bank, 
.portfolio-title-cashless,
.portfolio-title-meditation,
.portfolio-title-taxi,
.portfolio-title-screen,
.portfolio-title-online,
.portfolio-title-instagram,
.portfolio-title-food,
.portfolio-title-coffee 
{font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio-text-bank,
.portfolio-text-cashless 
.portfolio-text-meditation
.portfolio-text-taxi
.portfolio-text-screen
.portfolio-text-online
.portfolio-text-instagram 
.portfolio-text-food 
.portfolio-text-coffee 
{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ФУТЕР */
.footer-page {background-color:  #2E2F42;}
.footer-logo {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16em;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-logo-web {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16em;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
} 
.text-fotter {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5em;
   letter-spacing: 0.02em;
   color: #E7E9FC;
}